classes
*.class
gensrc
eclipsebin
.DS_Store
.idea/
rebel.xml
.project
target
/bin/
project.properties
resources/beans.xsd
resources/items.xsd
platformhome.properties
extensioninfo.xsd
build.xml
resources/spacceleratorsamplesaddon/*-*testclasses.xml
resources-lang/touch_impexgen
resources/spacceleratorsamplesaddon/import/contentCatalogs/*ContentCatalog/cms-responsive-content_*.impex
